/*
HTML TAGS
*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran';
}
header{
    width: 100%;
}
footer{
    width: 100%;
    padding: 2em 0 5em;
    background: url(/images/07-min.jpg);
    background-size: cover;
    background-position: center bottom;
    text-align: center;
}

/*
CLASSES
*/

/* NAV */
.top-bar{
    width: 100%;
    padding: .1em 0em;
    margin: 0em 0em 0em;
    background: #000;
}
.top-text{
    padding: 0;
    font-weight: 900;
    font-size: .8em;
    text-transform: uppercase;
    color: #fff;
}
.logo{
    width: 9%;
    float: left;
    padding: 0em .5em;
    margin: 0.2em -0.1em 0em;
}

.principal-image{
    width: 296%;
    margin: 2.5em -52em 0em;
}

/* INTRO */
.intro-section{
    width: 100%;
    padding: 11.6em 0 8em;
    background: ;
    background-size: cover;
    background-position: center bottom;
}
.intro-tittle{
    padding: 0 1em;
    font-weight: 900;
    text-align: left;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;
}

/* packs and prices */
.info-section{
    padding: 1em 2em;
    background: #fff;
    color:#000;
    text-align: center;
}
.info-tittle{
    font-weight: 900;
    font-size: 1.9em;
    color: #333;
}
.info-text{
    font-weight: 400;
    font-size: 1em;
}
.info-img{
    padding: 4em 0 .5em;
}
.info-question{
    padding: 0;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}
.info-service{
    padding: 0;
    font-weight: 900;
    font-size: 2em;
}
.info-btn{
    display: block;
    margin: auto;
    width: 10em;
    padding: 1em;
    border-radius: .4em;
    text-align: center;
    background: #ff690f;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
.img{
    width: 118%;
    padding: 4em 0em 1em;
    margin: -2em;
}
.info-secondary-tittle{
    padding: 0;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.3em;
    text-transform: uppercase;
    color: #000;
}
.info-form{
    width: 90%;
    margin: auto;
}
.second-row{
    width: 100%;
}
.first-row{
    width: 50%;
    float: left;
}
.num{
    padding: 0em;
    font-weight: 900;
    font-size: 3em;
    color: #ff690f;
}
.text-num{
    font-weight: 400;
    font-size: 1em;
}

/* testimonials */
.comment-section{
    padding: 1em;
    text-align: center;
}
.comment-tittle{
    font-weight: 900;
    font-size: 1.5em;
}
.comment-text{
    padding: 0 3em;
    font-weight: 400;
    font-size: .7em;
}

/* FOOTER */
.footer-tittle{
    font-weight: 900;
    font-size: 3em;
    color: #fff;
}
.bottom-nav{
    padding: 0em;
    margin: 0em;
}
.bottom-nav-item{
    display: inline-block;
    margin: 1em 1.3em;
}
.footer-link{
    font-size: 1.5em;
    color: #fff;
}
.footer-link:hover{
    color: #ff690f;
}